<div class="ui fluid container page-top">
    <div class="page-top-overlay">
        <img class="top-image" src="../images/{{$root.siteData.about.content.CoverPic.data}}">
    </div>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="seven wide column">
            <div class="row">
                <div class="partners-topic color-topic font-weight-100 font-size-3em font-spacing-1 line-height-1em">
                    {{$root.siteData.about.content.CoverHeading.data}}
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="text-justify color-topic source-sans font-weight-300 font-spacing-1 font-size-18 line-height-18">
                    {{$root.siteData.about.content.CoverSubHeading.data}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60 margin-bottom-50">
        {{$root.siteData.about.content.Heading.data}}
    </div>
</div>

<div class="ui fluid container margin-top-20">
    <div class="ui grid">
        <div class="sixteen wide column center aligned">
            <img class="ui big image center-block" src="../images/{{$root.siteData.about.content.AboutDescriptionPic.data}}">
        </div>

        <div class="three wide column"></div>
        <div class="ten wide column center aligned">
            {{$root.siteData.about.content.AboutDescriptionParaOne.data}}
        </div>
        <div class="three wide column"></div>

        <div class="three wide column"></div>
        <div class="ten wide column center aligned">
            {{$root.siteData.about.content.AboutDescriptionParaTwo.data}}
        </div>
        <div class="three wide column"></div>

        <div class="three wide column"></div>
        <div class="ten wide column center aligned">
            {{$root.siteData.about.content.AboutDescriptionParaThree.data}}
        </div>
        <div class="three wide column"></div>

        <div class="three wide column"></div>
        <div class="ten wide column center aligned">
            {{$root.siteData.about.content.AboutDescriptionParaFour.data}}
        </div>
        <div class="three wide column"></div>
    </div>
</div>