<div class="ui fluid container">
    <div class="ui grid">
        <div class="sixteen wide column center aligned margin-top-50">
            <div class="font-weight-100 font-size-3em text-center">
                Coming Soon
            </div>

            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>

            <div class="font-weight-100 font-size-3em text-center">
                Stay Tuned
            </div>

            <div class="sixteen wide column center aligned margin-top-50">
                <div class="ui button profile-update-button cancel-button" tabindex="0" ng-click="back()">
                    Back
                </div>
            </div>
        </div>
    </div>
</div>