<div class="ui container">
    <div class="ui grid">

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.contact.content.Heading.data}}
        </div>

        <div class="four wide column"></div>

        <div class="four wide column line-height-1by2em font-size-18">
            <div class="vertical-center">
                {{$root.siteData.contact.content.AddressLineOne.data}}<br>
                {{$root.siteData.contact.content.AddressLineTwo.data}} <br>
                {{$root.siteData.contact.content.AddressLineThree.data}} <br>
                {{$root.siteData.contact.content.AddressLineFour.data}} <br>&nbsp;<br>
                {{$root.siteData.contact.content.MailAddress.data}} <br>
                {{$root.siteData.contact.content.AllRightsReserved.data}}
            </div>
        </div>

        <div class="six wide column">
            <img class="ui medium image center-block" src="../images/{{$root.siteData.contact.content.ConnectorLogo.data}}">
        </div>

        <div class="two wide column"></div>

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.contact.content.BoardofManagementHeading.data}}
        </div>

        <div class="sixteen wide column text-center line-height-2em font-size-18">
            {{$root.siteData.contact.content.BoardofManagementNameOne.data}}<br>
            {{$root.siteData.contact.content.BoardofManagementNameTwo.data}}
        </div>

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.contact.content.CommercialRegisterHeading.data}}
        </div>

        <div class="sixteen wide column text-center line-height-2em font-size-18">
            {{$root.siteData.contact.content.CommercialRegisterLineOne.data}}<br>
            {{$root.siteData.contact.content.CommercialRegisterLineTwo.data}}
        </div>

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.contact.content.ResponsibilityHeading.data}}
        </div>

        <div class="sixteen wide column text-center line-height-2em font-size-18">
            {{$root.siteData.contact.content.ResponsibilityLineOne.data}}<br>
            {{$root.siteData.contact.content.ResponsibilityLineTwo.data}}
        </div>

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.contact.content.WebmasterHeading.data}}
        </div>

        <div class="sixteen wide column text-center line-height-2em font-size-18">
            {{$root.siteData.contact.content.WebmasterLineOne.data}}<br>
            {{$root.siteData.contact.content.WebmasterLineTwo.data}}<br>
            {{$root.siteData.contact.content.WebmasterLineThree.data}}
        </div>

    </div>
</div>