<div class="ui container">
    <div class="ui two column stackable grid">
        <div class="sixteen wide column margin-top-30">
            <div class="font-weight-100 font-size-3em text-center line-height-2em">
                New Request Completion
            </div>
        </div>

        <div class="sixteen wide column text-center margin-top-50">
            <p>Thank you for submitting your request ({{serviceId}}). Let’s discuss in person now.</p>
            <p>The Connector team will send you an outlook invitation to confirm or will contact you with an alternative proposal
            </p>
        </div>

        <div class="sixteen wide column center aligned margin-top-30">
            <div class="ui button profile-update-button cancel-button" tabindex="0" ng-click="back()">
                Back to Customer Lounge
            </div>
        </div>
    </div>
</div>