<div class="ui container">
    <div class="ui two column stackable grid">
        <div class="sixteen wide column margin-top-30">
            <div class="font-weight-100 font-size-3em line-height-2em text-center">
                Customer Lounge User Registration Confirmation
            </div>

            <div class="font-weight-300 font-size-18 text-center">
                Thank you!! You are now member of the Connect Member Lounge.
            </div>
        </div>

        <div class="six wide column"></div>
        <div class="two wide column">
            <div class="text-center line-height-38">
                My Username:
            </div>
        </div>
        <div class="two wide column">
            <div class="profile-input signup-label">
                {{$root.username}}
            </div>
        </div>
        <div class="six wide column"></div>

        <div class="six wide column"></div>
        <div class="two wide column">
            <div class="text-center line-height-38">
                My Password:
            </div>
        </div>
        <div class="two wide column">
            <div class="profile-input signup-label">
                {{$root.password}}
            </div>
        </div>
        <div class="six wide column"></div>

        <div class="sixteen wide column">
            <div class="font-weight-300 font-size-18 text-center">
                Your credentials will also be sent to you via email.
            </div>
            <div class="font-weight-300 font-size-18 text-center margin-top-30">
                You can now access the customer lounge
            </div>
        </div>

        <div class="sixteen wide column center aligned">
            <div class="ui green button profile-update-button login-button" tabindex="0" ng-click="logIn()">
                <div class="font-weight-200">Log In to Customer Lounge</div>
            </div>
        </div>
    </div>
</div>