<div class="ui container">
    <div class="ui grid">

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.disclaimer.content.Heading.data}}
        </div>

        <div class="three wide column"></div>

        <div class="ten wide column text-justify">
            <p>{{$root.siteData.disclaimer.content.DisclaimerParaOne.data}}</p>
            <p>{{$root.siteData.disclaimer.content.DisclaimerParaTwo.data}}</p>
            <p>{{$root.siteData.disclaimer.content.DisclaimerParaThree.data}}</p>
        </div>

        <div class="three wide column"></div>

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.disclaimer.content.LegalHeading.data}}
        </div>

        <div class="three wide column"></div>

        <div class="ten wide column text-justify">
            <p>{{$root.siteData.disclaimer.content.LegalParaOne.data}}</p>
            <p>{{$root.siteData.disclaimer.content.LegalParaTwo.data}}</p>
        </div>

        <div class="three wide column"></div>

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            {{$root.siteData.disclaimer.content.DataProtectionHeading.data}}
        </div>

        <div class="three wide column"></div>

        <div class="ten wide column text-justify">
            <p>{{$root.siteData.disclaimer.content.DataProtectionParaOne.data}}</p>
            <p>{{$root.siteData.disclaimer.content.DataProtectionParaTwo.data}}</p>
            <p>{{$root.siteData.disclaimer.content.DataProtectionParaThree.data}}</p>
            <p>{{$root.siteData.disclaimer.content.DataProtectionParaFour.data}}</p>
            <p>{{$root.siteData.disclaimer.content.DataProtectionParaFive.data}}</p>
            <p>{{$root.siteData.disclaimer.content.DataProtectionParaSix.data}}</p>
        </div>

        <div class="three wide column"></div>

    </div>
</div>