<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column margin-top-30">
            <div class="font-weight-100 font-size-3em line-height-2em text-center">
                New Expert Lounge User Application Completion
            </div>

            <div class="font-weight-300 font-size-18 text-center">
                Thank you!! We will contact you via E-mail Shortly.
            </div>
        </div>

        <div class="sixteen wide column center aligned">
            <div class="ui button profile-update-button cancel-button" tabindex="0" ng-click="back()">
                <div class="font-weight-300">Back to Home Page</div>
            </div>
        </div>
    </div>
</div>