<div class="ui container">
    <div class="ui two column stackable grid center-aligned-mobile-only">
        <div class="sixteen wide column margin-top-30">
            <div class="font-weight-100 font-size-3em text-center line-height-2em">
                Edit My Expert Profile
            </div>

            <div class="font-weight-300 font-size-18 text-center">
                Please edit information you would like to change. Once you have done, Please click ”Submit”.
            </div>
        </div>

        <div class="sixteen wide column margin-top-10">
        </div>

        <div class="eight wide column">
            <div class="ui grid">
                <div class="six wide column">
                    <label class="profile-label" for="title">Title:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled right action input">
                        <input type="text" placeholder="Title" id="title" class="profile-title" ng-model="title" readonly>
                        <div class="ui floating dropdown button title-dropdown">
                            <div class="text">Title</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" ng-click="title='Mr.'">Mr.</div>
                                <div class="item" ng-click="title='Mrs.'">Mrs.</div>
                                <div class="item" ng-click="title='Miss.'">Miss.</div>
                            </div>
                        </div>
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="firstname">First Name:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="text" placeholder="First Name" ng-model="firstname" id="firstname">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="lastname">Last Name:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="text" placeholder="Last Name" ng-model="lastname" id="lastname">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>


                <div class="six wide column">
                    <label class="profile-label" for="email">Email:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="email" placeholder="E-Mail" ng-model="email" id="email">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="confirmEmail">Confirm Email:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="email" placeholder="Confirm E-Mail" ng-model="confirmEmail" id="confirmEmail">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="dob">Date of Birth:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui calendar" id="datepicker-profile">
                        <div class="ui right icon input profile-input">
                            <i class="calendar icon"></i>
                            <input type="text" placeholder="Date of Birth" id="dob">
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="companyName">Company Name:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="text" placeholder="Company Name" ng-model="companyName" id="companyName">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="companyVAT">Company VAT:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui input profile-input">
                        <input type="text" placeholder="Company VAT" ng-model="companyVAT" id="companyVAT">
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="companyCountry">Country Country:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui search enter-country">
                        <div class="ui left corner labeled right icon input profile-input">
                            <input class="prompt enter-country-input" type="text" placeholder="Company Country" ng-model="companyCountry" id="companyCountry">
                            <div class="ui left corner label">
                                <i class="asterisk icon orange"></i>
                            </div>
                            <i class="search icon"></i>
                        </div>
                    </div>
                </div>


                <div class="six wide column">
                    <label class="profile-label" for="city">City:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="text" placeholder="City" ng-model="city" id="city">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="address">Address:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="text" placeholder="Address" ng-model="address" id="address">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="postalCode">Postal Code:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui input profile-input">
                        <input type="text" placeholder="Postal Code" ng-model="postalCode" id="postalCode">
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="phone">Phone:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui left corner labeled input profile-input">
                        <input type="text" placeholder="Phone" ng-model="phone" id="phone">
                        <div class="ui left corner label">
                            <i class="asterisk icon orange"></i>
                        </div>
                    </div>
                </div>

                <div class="six wide column">
                    <label class="profile-label" for="mobile">Mobile:</label>
                </div>
                <div class="ten wide column">
                    <div class="ui input profile-input">
                        <input type="text" placeholder="Mobile" ng-model="mobile" id="mobile">
                    </div>
                </div>
            </div>
        </div>

        <div class="four wide column center aligned">
            <div class="ui item">
                Speciality
            </div>

            <div class="ui segment combo-box color-topic">
                <div ng-if="selectedSpeciality.length==0">
                    Speciality List
                </div>
                <div class="ui label label-border" ng-repeat="speciality in selectedSpeciality">
                    {{speciality}}
                    <i class="delete icon" ng-click="removeSpeciality(speciality)"></i>
                </div>
            </div>

            <select class="ui fluid dropdown margin-top-20" ng-model="speciality" ng-change="selectSpeciality(speciality)">
                <option value="">Speciality</option>
                <option value="Car Policy Design and Review">Car Policy Design and Review</option>
                <option value="Lease versus Buy versus Cash Allowance">Lease versus Buy versus Cash Allowance</option>
                <option value="Telematics and Risk Management">Telematics and Risk Management</option>
                <option value="Powertrains">Powertrains</option>
                <option value="Company Car to Mobility transition">Company Car to Mobility transition</option>
                <option value="Tendering">Tendering</option>
                <option value="Contract Negotiations, SLA and KPI service">Contract Negotiations, SLA and KPI service</option>
                <option value="Supply Chain assessments">Supply Chain assessments</option>
                <option value="Supplier integration">Supplier integration</option>
                <option value="Savings programs">Savings programs</option>
                <option value="Communication Strategy">Communication Strategy</option>
                <option value="Change and Project Management">Change and Project Management</option>
            </select>
        </div>

        <div class="four wide column center aligned">
            <div class="ui item">
                Country
            </div>
            <div class="ui segment combo-box color-topic">
                <div ng-if="selectedCountries.length==0">
                    Country List
                </div>
                <div class="ui label label-border" ng-repeat="country in selectedCountries">
                    <img src="{{country.image}}">
                    {{country.title}}
                    <i class="delete icon" ng-click="removeCountry(country)"></i>
                </div>
            </div>

            <div class="ui search country-list-profile margin-top-20 phase-out">
                <div class="ui icon input">
                    <input class="prompt country-list-profile-input" type="text" placeholder="Search Country...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>

        <div class="ui inline cookie error nag margin-top-30" ng-show="submitAttempt">
        <span class="title">
        {{message}}
        </span>
            <i class="close icon"></i>
        </div>

        <div class="sixteen wide column center aligned">
            <div class="ui button profile-update-button cancel-button" tabindex="0" ng-click="cancel()">
                Back
            </div>
            <div class="ui green button profile-update-button login-button" ng-class="{'loading': processStarted}" tabindex="0" ng-click="updateProfile()">
                <div class="font-weight-200">Submit</div>
            </div>
        </div>



    </div>
</div>

<script>
    $('.ui.fluid.dropdown')
            .dropdown()
    ;
</script>