<div class="ui container">
    <div class="ui grid">

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            Reset your Password (Expert)
        </div>

        <div class="row">
            <div class="sixteen wide column text-center roboto font-weight-300 font-spacing-1">
                <p>Your Password has been reset! Please login</p>
            </div>
        </div>

        <div class="sixteen wide column center aligned">
            <div class="ui green button profile-update-button login-button" tabindex="0" ng-click="login()">
                <div class="font-weight-200">Login</div>
            </div>
        </div>

    </div>
</div>