<div class="ui footer footer-second-segment margin-top-30" ng-init="getAllSiteData()">
    <div class="ui container">
        <div class="ui divider"></div>
        <div class="ui two column stackable grid">
            <div class="row">
                <div class="thirteen wide column">
                    <i class="copyright icon"></i> {{siteData.footer.content.CopyrightText.data}}
                </div>
                <div class="footer-item" ui-sref="app.contact">
                    Contact
                </div>
                <div class="footer-item" ui-sref="app.disclaimer">
                    Disclaimer/Legal
                </div>
            </div>
        </div>
    </div>
</div>