<div class="ui fluid container page-top">
    <div class="page-top-overlay">
        <img class="top-image" src="../images/{{$root.siteData.process.content.CoverPic.data}}">
    </div>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="seven wide column">
            <div class="row">
                <div class="process-topic color-topic font-weight-100 font-size-3em font-spacing-1 line-height-1em">
                    {{$root.siteData.process.content.CoverHeading.data}}
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="text-justify color-topic source-sans font-weight-300 font-spacing-1 font-size-18 line-height-18">
                    {{$root.siteData.process.content.CoverSubHeading.data}}
                </div>
            </div>
            <div class="row margin-top-20">
                <button class="ui product-button green button login-button" ng-click="signup()">
                    Sign Up Today
                </button>
            </div>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="ui two column stackable grid">
        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60 margin-bottom-50">
            {{$root.siteData.process.content.Heading.data}}
        </div>

        <div class="two wide column"></div>
        <div class="four wide column">
            <div class="process-image-container height-250 white-grey-background vertical-center">
                <img class="ui small image margin-left-40" src="../images/{{$root.siteData.process.content.TaskOnePic.data}}">
            </div>
        </div>

        <div class="eight wide column">
            <div class="height-250 padding-10p">
                <div class="font-size-26 line-height-2em">1. {{$root.siteData.process.content.TaskOneHeading.data}}</div>
                <div class="font-size-16">{{$root.siteData.process.content.TaskOneDescription.data}}</div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="four wide column">
            <div class="process-image-container height-250 white-grey-background vertical-center">
                <img class="ui small image margin-left-20" src="../images/{{$root.siteData.process.content.TaskTwoPic.data}}">
            </div>
        </div>

        <div class="eight wide column">
            <div class="height-250 padding-10p">
                <div class="font-size-26 line-height-2em">2. {{$root.siteData.process.content.TaskTwoHeading.data}}</div>
                <div class="font-size-16">{{$root.siteData.process.content.TaskTwoDescription.data}}</div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="four wide column">
            <div class="process-image-container height-250 white-grey-background vertical-center">
                <img class="ui small image center-block" src="../images/{{$root.siteData.process.content.TaskThreePic.data}}">
            </div>
        </div>

        <div class="eight wide column">
            <div class="height-250 padding-10p">
                <div class="font-size-26 line-height-2em">3. {{$root.siteData.process.content.TaskThreeHeading.data}}</div>
                <div class="font-size-16">{{$root.siteData.process.content.TaskThreeDescription.data}}</div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="four wide column">
            <div class="process-image-container height-250 white-grey-background vertical-center">
                <img class="ui small image center-block" src="../images/{{$root.siteData.process.content.TaskFourPic.data}}">
            </div>
        </div>

        <div class="eight wide column">
            <div class="height-250 padding-10p">
                <div class="font-size-26 line-height-2em">4. {{$root.siteData.process.content.TaskFourHeading.data}}</div>
                <div class="font-size-16">{{$root.siteData.process.content.TaskFourDescription.data}}</div>
            </div>
        </div>
        <div class="two wide column"></div>

    </div>
</div>

<div class="ui fluid container after-new margin-top-100">
    <div class="ui two column stackable grid">
        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 font-weight-100 line-height-60 margin-top-30 margin-bottom-30">
            {{$root.siteData.process.content.AfterPlacingHeading.data}}
        </div>

        <div class="two wide column"></div>
        <div class="twelve wide column margin-bottom-30">
            <svg class="arrow-svg" height="20px" viewBox="0 -1 82 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M43.816,44.687 L78.481,2.21 L2.489,45 L78.48,87.79 L43.816,45.313 C43.667,45.131 43.667,44.87 43.816,44.687 L43.816,44.687 Z" id="Shape" transform="translate(40.485000, 45.000000) scale(-1, 1) translate(-40.485000, -45.000000) "></path>
                    <path d="M44.837,45 L80.901,0.808 C81.052,0.623 81.049,0.359 80.896,0.176 C80.743,-0.006 80.482,-0.054 80.275,0.064 L1.239,44.569 C1.083,44.657 0.987,44.822 0.987,45 C0.987,45.179 1.083,45.343 1.239,45.431 L80.276,89.936 C80.352,89.98 80.435,90 80.518,90 C80.66,90 80.8,89.939 80.897,89.824 C81.05,89.641 81.052,89.377 80.902,89.192 L44.837,45 L44.837,45 Z M2.489,45 L78.481,2.21 L43.816,44.687 C43.667,44.869 43.667,45.13 43.816,45.313 L78.481,87.79 L2.489,45 L2.489,45 Z" id="Shape" fill="#000000" transform="translate(41.000070, 44.999787) scale(-1, 1) translate(-41.000070, -44.999787) "></path>
                </g>
            </svg>

            <p class="roboto font-size-14 text-justify margin-left-30 margin-bottom-50 font-weight-300 padding-right-20">
                {{$root.siteData.process.content.AfterPlacingParaOne.data}}
            </p>
        </div>
        <div class="two wide column"></div>


        <div class="two wide column"></div>
        <div class="twelve wide column margin-bottom-30">
            <svg class="arrow-svg" height="20px" viewBox="0 -1 82 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M43.816,44.687 L78.481,2.21 L2.489,45 L78.48,87.79 L43.816,45.313 C43.667,45.131 43.667,44.87 43.816,44.687 L43.816,44.687 Z" id="Shape" transform="translate(40.485000, 45.000000) scale(-1, 1) translate(-40.485000, -45.000000) "></path>
                    <path d="M44.837,45 L80.901,0.808 C81.052,0.623 81.049,0.359 80.896,0.176 C80.743,-0.006 80.482,-0.054 80.275,0.064 L1.239,44.569 C1.083,44.657 0.987,44.822 0.987,45 C0.987,45.179 1.083,45.343 1.239,45.431 L80.276,89.936 C80.352,89.98 80.435,90 80.518,90 C80.66,90 80.8,89.939 80.897,89.824 C81.05,89.641 81.052,89.377 80.902,89.192 L44.837,45 L44.837,45 Z M2.489,45 L78.481,2.21 L43.816,44.687 C43.667,44.869 43.667,45.13 43.816,45.313 L78.481,87.79 L2.489,45 L2.489,45 Z" id="Shape" fill="#000000" transform="translate(41.000070, 44.999787) scale(-1, 1) translate(-41.000070, -44.999787) "></path>
                </g>
            </svg>

            <p class="roboto font-size-14 text-justify margin-left-30 margin-bottom-50 font-weight-300 padding-right-20">
                {{$root.siteData.process.content.AfterPlacingParaTwo.data}}
            </p>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="twelve wide column margin-bottom-30">
            <svg class="arrow-svg" height="20px" viewBox="0 -1 82 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M43.816,44.687 L78.481,2.21 L2.489,45 L78.48,87.79 L43.816,45.313 C43.667,45.131 43.667,44.87 43.816,44.687 L43.816,44.687 Z" id="Shape" transform="translate(40.485000, 45.000000) scale(-1, 1) translate(-40.485000, -45.000000) "></path>
                    <path d="M44.837,45 L80.901,0.808 C81.052,0.623 81.049,0.359 80.896,0.176 C80.743,-0.006 80.482,-0.054 80.275,0.064 L1.239,44.569 C1.083,44.657 0.987,44.822 0.987,45 C0.987,45.179 1.083,45.343 1.239,45.431 L80.276,89.936 C80.352,89.98 80.435,90 80.518,90 C80.66,90 80.8,89.939 80.897,89.824 C81.05,89.641 81.052,89.377 80.902,89.192 L44.837,45 L44.837,45 Z M2.489,45 L78.481,2.21 L43.816,44.687 C43.667,44.869 43.667,45.13 43.816,45.313 L78.481,87.79 L2.489,45 L2.489,45 Z" id="Shape" fill="#000000" transform="translate(41.000070, 44.999787) scale(-1, 1) translate(-41.000070, -44.999787) "></path>
                </g>
            </svg>
            <p class="roboto font-size-14 text-justify margin-left-30 margin-bottom-50 font-weight-300 padding-right-20">
                {{$root.siteData.process.content.AfterPlacingParaThree.data}}
            </p>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="twelve wide column margin-bottom-30">
            <svg class="arrow-svg" height="20px" viewBox="0 -1 82 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M43.816,44.687 L78.481,2.21 L2.489,45 L78.48,87.79 L43.816,45.313 C43.667,45.131 43.667,44.87 43.816,44.687 L43.816,44.687 Z" id="Shape" transform="translate(40.485000, 45.000000) scale(-1, 1) translate(-40.485000, -45.000000) "></path>
                    <path d="M44.837,45 L80.901,0.808 C81.052,0.623 81.049,0.359 80.896,0.176 C80.743,-0.006 80.482,-0.054 80.275,0.064 L1.239,44.569 C1.083,44.657 0.987,44.822 0.987,45 C0.987,45.179 1.083,45.343 1.239,45.431 L80.276,89.936 C80.352,89.98 80.435,90 80.518,90 C80.66,90 80.8,89.939 80.897,89.824 C81.05,89.641 81.052,89.377 80.902,89.192 L44.837,45 L44.837,45 Z M2.489,45 L78.481,2.21 L43.816,44.687 C43.667,44.869 43.667,45.13 43.816,45.313 L78.481,87.79 L2.489,45 L2.489,45 Z" id="Shape" fill="#000000" transform="translate(41.000070, 44.999787) scale(-1, 1) translate(-41.000070, -44.999787) "></path>
                </g>
            </svg>
            <p class="roboto font-size-14 text-justify margin-left-30 margin-bottom-50 font-weight-300 padding-right-20">
                {{$root.siteData.process.content.AfterPlacingParaFour.data}}
            </p>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="twelve wide column margin-bottom-30">
            <svg class="arrow-svg" height="20px" viewBox="0 -1 82 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <path d="M43.816,44.687 L78.481,2.21 L2.489,45 L78.48,87.79 L43.816,45.313 C43.667,45.131 43.667,44.87 43.816,44.687 L43.816,44.687 Z" id="Shape" transform="translate(40.485000, 45.000000) scale(-1, 1) translate(-40.485000, -45.000000) "></path>
                    <path d="M44.837,45 L80.901,0.808 C81.052,0.623 81.049,0.359 80.896,0.176 C80.743,-0.006 80.482,-0.054 80.275,0.064 L1.239,44.569 C1.083,44.657 0.987,44.822 0.987,45 C0.987,45.179 1.083,45.343 1.239,45.431 L80.276,89.936 C80.352,89.98 80.435,90 80.518,90 C80.66,90 80.8,89.939 80.897,89.824 C81.05,89.641 81.052,89.377 80.902,89.192 L44.837,45 L44.837,45 Z M2.489,45 L78.481,2.21 L43.816,44.687 C43.667,44.869 43.667,45.13 43.816,45.313 L78.481,87.79 L2.489,45 L2.489,45 Z" id="Shape" fill="#000000" transform="translate(41.000070, 44.999787) scale(-1, 1) translate(-41.000070, -44.999787) "></path>
                </g>
            </svg>
            <p class="roboto font-size-14 text-justify margin-left-30 margin-bottom-50 font-weight-300 padding-right-20">
                {{$root.siteData.process.content.AfterPlacingParaFive.data}}
            </p>
        </div>
        <div class="two wide column"></div>
    </div>
</div>