<div class="ui basic modal logout-modal" ng-controller="LogoutConfirm">
    <div class="ui grid">
        <div class="sixteen wide column margin-top-30">
            <div class="font-weight-200 font-size-3em text-center line-height-2em">
                Log Out Confirmation
            </div>

            <div class="font-weight-300 font-size-18 text-center margin-top-30">
                Would you like to leave
            </div>
        </div>

        <div class="sixteen wide column center aligned margin-top-30">
            <div class="ui button profile-update-button cancel-button" tabindex="0" ng-click="logout()">
                Logout
            </div>
            <div class="ui green button profile-update-button login-button" tabindex="0" ng-click="back()">
                <div class="font-weight-300">Back</div>
            </div>
        </div>
    </div>
</div>