<div class="ui fluid container page-top">
    <div class="page-top-overlay">
        <img class="top-image" src="../images/{{$root.siteData.partners.content.CoverPic.data}}">
    </div>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="seven wide column">
            <div class="row">
                <div class="partners-topic color-topic font-weight-100 font-size-3em font-spacing-1 line-height-1em">
                    {{$root.siteData.partners.content.CoverHeading.data}}
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="text-justify color-topic source-sans font-weight-300 font-spacing-1 font-size-18 line-height-18">
                    {{$root.siteData.partners.content.CoverSubHeading.data}}
                </div>
            </div>
        </div>

    </div>
</div>

<div class="ui fluid container">
    <div class="ui grid">
        <div class="row padding-top-50 padding-bottom-50 background-color-grey1C">
            <div class="four wide column"></div>
            <div class="eight wide column text-justify roboto font-weight-300 font-spacing-1">
                <p>{{$root.siteData.partners.content.DescriptionParaOne.data}}</p>
                <p>{{$root.siteData.partners.content.DescriptionParaTwo.data}}</p>
            </div>
            <div class="four wide column"></div>
        </div>
    </div>
    <div class="ui two column stackable grid">
        <div class="row white-grey-background padding-100">
            <div class="six wide column">
                <div class="partner-logo-container">
                    <img class="partner-logo" src="../images/{{$root.siteData.partners.content.PartnerOneLogo.data}}">
                </div>
            </div>
            <div class="ten wide column roboto font-weight-300 font-spacing-1 font-size-12 color-topic-light">
                <div class="roboto font-weight-400 font-size-2em line-height-2em color-topic">{{$root.siteData.partners.content.PartnerOneHeading.data}}</div>
                <p class="margin-right-15p text-justify">{{$root.siteData.partners.content.PartnerOneParaOne.data}}<br>
                    {{$root.siteData.partners.content.PartnerOnePointOne.data}}<br>
                    {{$root.siteData.partners.content.PartnerOnePointTwo.data}}
                </p>
                <p class="margin-right-15p text-justify">
                    {{$root.siteData.partners.content.PartnerOneParaTwo.data}}
                </p>
            </div>
        </div>


        <div class="row white-grey-background padding-100">
            <div class="six wide column">
                <div class="partner-logo-container">
                    <img class="ui small image" src="../images/{{$root.siteData.partners.content.PartnerTwoLogo.data}}">
                </div>
            </div>
            <div class="ten wide column roboto font-weight-300 font-spacing-1 font-size-12 color-topic-light">
                <div class="roboto font-weight-400 font-size-2em line-height-2em color-topic-light">{{$root.siteData.partners.content.PartnerTwoHeading.data}}</div>
                <p class="margin-right-15p text-justify">{{$root.siteData.partners.content.PartnerTwoParaOne.data}}</p>
                <p class="margin-right-15p text-justify">{{$root.siteData.partners.content.PartnerTwoParaTwo.data}}</p>
            </div>
        </div>

        <div class="row white-grey-background padding-100">
            <div class="six wide column">
                <div class="partner-logo-container">
                    <img class="partner-logo" src="../images/{{$root.siteData.partners.content.PartnerThreeLogo.data}}">
                </div>
            </div>
            <div class="ten wide column roboto font-weight-300 font-spacing-1 font-size-12 color-topic-light">
                <div class="roboto font-weight-400 font-size-2em line-height-2em color-topic">{{$root.siteData.partners.content.PartnerThreeHeading.data}}</div>
                <p class="margin-right-15p text-justify">{{$root.siteData.partners.content.PartnerThreeParaOne.data}}</p>
            </div>
        </div>
    </div>
</div>