<div class="ui fluid container page-top">
    <div class="page-top-overlay">
        <img class="top-image" src="../images/{{$root.siteData.products.content.CoverPic.data}}">
    </div>
</div>

<div class="ui container">
    <div class="ui grid">
        <div class="seven wide column">
            <div class="row">
                <div class="partners-topic color-white font-weight-100 font-size-3em font-spacing-1 line-height-1em">
                    {{$root.siteData.products.content.CoverHeading.data}}
                </div>
            </div>
            <div class="row margin-top-20">
                <div class="text-justify color-white source-sans font-weight-300 font-spacing-1 font-size-18 line-height-18">
                    {{$root.siteData.products.content.CoverSubHeading.data}}
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ui container">
    <div class="ui two column stackable grid">

        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60 margin-bottom-50">
            {{$root.siteData.products.content.Heading.data}}
        </div>
        <div class="two wide column"></div>
        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductOnePic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductOneHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductOneDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductTwoPic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductTwoHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductTwoDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductThreePic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductThreeHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductThreeDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductFourPic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductFourHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductFourDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductFivePic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductFiveHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductFiveDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductSixPic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductSixHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductSixDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductSevenPic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductSevenHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductSevenDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductEightPic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductEightHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductEightDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductNinePic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductNineHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductNineDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductTenPic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductTenHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductTenDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>

        <div class="two wide column"></div>
        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductElevenPic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductElevenHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductElevenDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="six wide column">
            <div class="ui special cards">
                <div class="card width-100p">
                    <div class="white-grey-background height-250 vertical-center">
                        <img class="ui product-image image center-block" src="../images/{{$root.siteData.products.content.ProductTwelvePic.data}}">
                    </div>
                    <div class="content">
                        <div class="header text-center">{{$root.siteData.products.content.ProductTwelveHeading.data}}</div>
                        <div class="meta">
                            <span class="color-topic-light product-desc text-justify">{{$root.siteData.products.content.ProductTwelveDescription.data}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
