<div class="ui container">
    <form>
    <div class="ui grid">
        <div class="sixteen wide column color-topic-light text-center font-size-48 font-spacing-1 margin-top-50 font-weight-200 line-height-60">
            Reset your Password
        </div>

        <div class="row">
            <div class="sixteen wide column text-center roboto font-weight-300 font-spacing-1">
                <p>Please fill in following field and click Reset Password.</p>
            </div>
        </div>

        <div class="seven wide column">
            <label class="profile-label float-right" for="password">Password:</label>
        </div>
        <div class="nine wide column">
            <div class="ui left corner labeled input profile-input">
                <input type="password" placeholder="Password" ng-model="password" id="password">
                <div class="ui left corner label">
                    <i class="asterisk icon orange"></i>
                </div>
            </div>
        </div>

        <div class="seven wide column">
            <label class="profile-label float-right" for="confirmPassword">Confirm Password:</label>
        </div>
        <div class="nine wide column">
            <div class="ui left corner labeled input profile-input">
                <input type="password" placeholder="Confirm Password" ng-model="confirmPassword" id="confirmPassword">
                <div class="ui left corner label">
                    <i class="asterisk icon orange"></i>
                </div>
            </div>
        </div>

        <div class="ui inline cookie error nag margin-top-30" ng-show="submitAttempt">
        <span class="title">
        {{message}}
        </span>
            <i class="close icon"></i>
        </div>

        <div class="sixteen wide column center aligned">
            <div class="ui button profile-update-button cancel-button" tabindex="0" ng-click="cancel()">
                Cancel
            </div>
            <button type="submit" class="ui green button profile-update-button login-button" tabindex="0" ng-click="resetPassword()" ng-class="{'loading': processStarted}">
                <span class="font-weight-200">Reset Password</span>
            </button>
        </div>
    </div>
    </form>
</div>